.App {
  /* text-align: center; */
}

table, tr, td {
  border: 1px solid black;
}

thead {
  font-weight: bold;
}

td {
  padding: 1em;
}

.listeCourses {
  padding: 1em;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}

.strikethrough {
  text-decoration: line-through;
  color: lightgrey;
}

.settings {
  display: flex;
  padding: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.menuTable {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1em;
}
.menuQtyLabel {
  display: block;
  font-size: larger;
  text-align: center;
}

input[type='range'] {
  width: 100%;
}