.App {
  /* text-align: center; */
}

table, tr, td {
  border: 1px solid black;
}

table {
  margin: 2% 5%;
}

thead {
  font-weight: bold;
}

td {
  padding: 1em;
}

span[title]:hover::after {
  background-color: darkkhaki;
}

.listeCourses {
  padding: 1em;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  margin-left: 10px;
}

.strikethrough {
  text-decoration: line-through;
  color: lightgrey;
}

section {
  display: flex;
  flex-direction: column;
}

button {
  margin: 2% 40%;
}