.App {
  /* text-align: center; */
}

.menuTable table,
.menuTable tr,
.menuTable td {
  border: 1px solid black;
}

.menuTable thead {
  font-weight: bold;
}

.menuTable td {
  padding: 1em;
}

.listeCourses {
  padding: 1em;
  column-gap: 20px;
  column-count: 1;
}

@media (min-width: 600px) {
  .listeCourses {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  .listeCourses {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .listeCourses {
    column-count: 4;
  }
}

.strikethrough {
  text-decoration: line-through;
  color: lightgrey;
}

.settings {
  display: flex;
  padding: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.menuTable {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1em;
}
.menuQtyLabel {
  display: block;
  font-size: larger;
  text-align: center;
}

input[type='range'] {
  width: 100%;
}